################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DN.API/bin
/.vs/DN/v16/Server/sqlite3
/.vs/DN/config/applicationhost.config
/packages
